<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
      integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="container">
      <header>
        <div class="brand">
          <img src="./images/logo.png" alt="logo" />
        </div>
        <div>
          <ul class="list">
            <li class="list-item">Why Udacity?</li>
            <li class="list-item">Student scussess</li>
            <li class="list-item">Schools</li>
            <li class="list-item">Sign In</li>
            <li class="list-item item-link">
              <a href="#">Get Started</a>
            </li>
          </ul>
        </div>
      </header>

      <main id="main">
        <section class="main-text">
          <h2>
            Get the skills you need for a $100k+ tech career in just 3 months.
          </h2>
          <p>
            Develop job-ready digital skills—for as few as 10 hours per week, at
            your own pace, when and where it’s convenient for you.
          </p>
        </section>
        <section class="login-form">
          <form action="#">
            <h2>Start learning for free today.</h2>

            <div class="form-control">
              <button type="button" class="btn">
                <i class="fa fa-google" aria-hidden="true"></i>
                <span class="social-icon"> Signup with Google</span>
              </button>
            </div>
            <div class="form-control">
              <button type="button" class="btn">
                <i class="fab fa-facebook-f"></i>
                <span class="social-icon"> Signup with FaceBook</span>
              </button>
            </div>

            <div class="form-control">
              <h2 class="or-line">Or</h2>
            </div>

            <div class="form-control">
              <input type="text" class="form-input" placeholder="Email*" />
            </div>

            <div class="form-control">
              <button type="button" class="btn get-started">
                Get Started for free
              </button>
            </div>

            <p class="tmc">
              By clicking "Get started for free", you agree to our Terms of Use
              and Privacy Policy.
            </p>
          </form>
        </section>
      </main>
    </div>
  </body>
</html>
